---
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Allman
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
UseTab: Never
TabWidth: 4
Standard: c++20
SpacesInSquareBrackets: false
SpacesInParens: Never
SpacesInContainerLiterals: false
SpacesInAngles: Never
SpacesBeforeTrailingComments: 1
SpaceInEmptyBlock: false
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeJsonColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCaseColon: false
SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: Default
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceAfterLogicalNot: false
SpaceAfterCStyleCast: false
SortUsingDeclarations: LexicographicNumeric
SortIncludes: CaseInsensitive
NamespaceIndentation: All
FixNamespaceComments: false
SeparateDefinitionBlocks: Always
RequiresExpressionIndentation: OuterScope
RequiresClausePosition: WithPreceding
RemoveSemicolon: true
RemoveParentheses: Leave
ColumnLimit: 0
ReflowComments: false
ReferenceAlignment: Pointer
QualifierAlignment: Left
PackConstructorInitializers: BinPack
MaxEmptyLinesToKeep: 7
MainIncludeChar: AngleBracket
LineEnding: CRLF
Language: Cpp
LambdaBodyIndentation: Signature
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
IntegerLiteralSeparator:
  Binary: 8
  Decimal: 3
  Hex: 2
BinPackArguments: true
InsertNewlineAtEOF: true
InsertBraces: true
IndentPPDirectives: BeforeHash
IndentGotoLabels: true
IndentExternBlock: AfterExternBlock
IndentCaseLabels: true
IndentCaseBlocks: false
IndentAccessModifiers: false
IncludeBlocks: Regroup
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
Cpp11BracedListStyle: false
BreakTemplateDeclarations: Yes
BreakStringLiterals: true
BreakInheritanceList: BeforeComma
BreakFunctionDefinitionParameters: false
BreakConstructorInitializers: BeforeComma
BreakBeforeTernaryOperators: false
BreakBeforeConceptDeclarations: Always
BreakBeforeBinaryOperators: NonAssignment
BreakArrays: false
BreakAfterAttributes: Always
BreakAdjacentStringLiterals: false
BitFieldColonSpacing: After
BinPackParameters: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowBreakBeforeNoexceptSpecifier: Never
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 7
AlignOperands: DontAlign
AlignEscapedNewlines: LeftWithLastLine
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveTableGenCondOperatorColons: {}
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
  AlignCaseArrows: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignArrayOfStructures: Right
